<div class="container mt-3">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/slider/BB_C_GlowLight_06-07.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider/Gateway_Quote_A1_12-05.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider/Quote_A2_06-15.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/slider/Quote_A4_Markers_of_Swans_06-14.jpg" class="d-block w-100"
                    alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 my-1">
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/animal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Animal Farm - George Orwell</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/neuro.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Don Quixote - Cervantes</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/frankenstein.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Frankenstein - Mary Shelly</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/War&Peace.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">War and Peace - Leo Tolstoy</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/dracula.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dracula - Bram Stoker</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/earthsea.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Books of Earthsea  - Ursula K. Le Guin</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/montecristo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Count of Monte Cristo - Alexandre Dumas</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/book_covers/1984.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">1984 - George Orwell</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>