<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white fs-1 fw-semibold" href="#">BookStore<i class="bi bi-book ms-2"></i></a>
        <form class="searchBar">
          <input class="form-control me-2 text-center" type="text" placeholder="Search book, author, publisher..."
            aria-label="Search">
        </form>
        <form class="buttons">
          <button type="button" class="btn fw-semibold m-1 fs-6 fw-semibold"><i
              class="bi bi-box-arrow-in-right m-1"></i>Log
            In</button>
          <button type="button" class="btn fw-semibold m-1 fs-6 fw-semibold"><i
              class="bi bi-person-plus-fill m-1"></i>Sign
            Up</button>
        </form>
      </div>
    </div>
  </nav>

  <nav class="categories navbar navbar-expand-lg p-0 sticky-top">
    <div class="container">
      <div class="collapse navbar-collapse fw-semibold d-flex justify-content-between" id="categories">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categories"
          aria-controls="categories" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav justify-content-between">
          <li class="nav-item p-1">
            <a class="nav-link" href="#">CATEGORIES</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link" href="#"><i class="bi bi-house-fill"></i></a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link" href="#">BESTSELLERS</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link" href="#">PUBLISHER</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link" href="#">AUTHORS</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link" href="#"><i class="bi bi-telephone-fill"></i> CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>